<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="https://nick.vanexan.ca/nve-icon.png" />
    <link
      href="https://nick.vanexan.ca/nve-icon.png"
      rel="shortcut icon"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/public/fonts/soehne.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Newsreader:ital@1&display=swap"
      rel="stylesheet"
    />
    <!-- {{ PREFETCH_ROUTES }} -->
    <!-- {{ SERVER_STYLES }} -->
    <title>{{ PAGE_TITLE }} | Nick Van Exan</title>
  </head>
  <body>
    <div class="app">{{ CONTENT }}</div>
    <script type="module" src="/main.js"></script>
  </body>
</html>
